*.iml
.gradle
SingBetter/gradlew
SingBetter/gradlew.bat
SingBetter/local.properties
SingBetter/.idea/workspace.xml
SingBetter/.idea/libraries
SingBetter/.idea/vcs.xml
.DS_Store
SingBetter/build
SingBetter/captures
SingBetter/app/build
.externalNativeBuild
SingBetter/.idea/misc.xml
